#head {
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;



}

#head h1 {
    font-size: 50px;
    color: white;
    margin-left: 10px;
}

#head p {
    color: white;
}


body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.hotpink-color {
    color: hotpink;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;



}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 100%;

}

.link-button {
    text-decoration: none;
    background-color: hotpink;
    padding: 10px 40px;
    color: black;
    font-weight: 400;
    border-radius: 5px;


}

.donate-plan {
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    box-shadow: 10px 10px 40px black;
    border-left: 6px solid hotpink;
    text-align: left;




}


#colour {
    border-left: 6px solid black;

}

.donation-plan {
    text-align: center;


}

.footer {
    text-align: center;
    color: white;
    background-color: black;


}

.updates {
    text-align: center;
}

.dollar {

    width: 40%;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 10px;
    box-shadow: 10px 10px 40px black;
    border-radius: 5px;



}

.amount {
    text-align: center;

}

.center {
    text-align: center;
}

.usd {
    border: 6px solid black;
    background-color: aqua;
}

.box {



    width: 400px;
    text-align: center;
    background: grey;
    padding: 50px;
    margin-left: 350px;


}